@import url("https://fonts.googleapis.com/css2?family=Krub:wght@200&family=Montserrat&family=Poppins:wght@900&family=Roboto+Mono&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Krub", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Ubuntu", sans-serif;
}

button.normal {
  display: inline-flex;
  padding: 16px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: var(--yellow, #f1ab16);
  color: var(--grey-3, #000);
  border-radius: 100px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

button.normal:hover {
  color: #fff;
  background-color: #0b3470;
}

button.black {
  display: inline-flex;
  padding: 16px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--grey-1, #363c46);
  background: var(--grey-3, #000);
  color: var(--white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

button.black:hover {
  color: #000;
  background: #f1ab16;
}

/* HOME PAGE */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 120px;
  background: #fff;
  border-bottom: 1px solid var(--grey-2, #f2f0f0);
  height: 80px;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header img {
  width: 174px;
  height: 31px;
  flex-shrink: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#navbar li {
  list-style: none;
  padding: 0 15px;
  margin-top: 14px;
}

#navbar li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #0b3470;
}

/* hero */
#hero {
  padding: 134px 120px;
  height: 988px;
  overflow: hidden;
  background: #fff9ec;
  flex-shrink: 0;
}

#hero .hero-text {
  width: 70%;
}

#hero .hero-text h3 {
  color: var(--grey-3, #000);
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#hero .hero-text p {
  color: var(--grey-3, #000);
  font-size: 18px;
  font-style: normal;
  padding: 15px 0;
  font-weight: 400;
  line-height: 34px; /* 188.889% */
}

#hero .hero-btn {
  display: flex;
  gap: 15px;
}

#hero .hero-btn .normal:hover {
  color: #fff;
  background-color: #0b3470;
}

#hero .hero-btn span {
  margin-left: 260px;
  margin-top: -55px;
}

#hero .hero-banner {
  display: flex;
  gap: 20px;
  padding: 80px 0;
}

#hero .hero-banner .img1 img {
  width: 100%;
  object-fit: cover;
  height: 461px;
  border-radius: 16px;
}

#hero .hero-banner .img2 img {
  width: 100%;
  object-fit: cover;
  height: 461px;
  border-radius: 16px;
}

/* clients */
#client {
  padding: 60px 120px;
  background: var(--white, #fff);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60vh;
}

#client h4 {
  color: var(--blue, #0b3470);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#client ul {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

#client ul li {
  padding: 0 40px;
}

#client .logo-1 {
  padding: 40px 0;
}

/* services */
#Home-service {
  background: #fafafa;
  padding: 60px 120px;
  height: 1627px;
}

#Home-service h5 {
  color: var(--grey-3, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #ffe8bb;
  background: #fff9ed;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
}

#Home-service .home-service-head {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

#Home-service .home-service-head h4 {
  color: var(--blue, #0b3470);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 143.75% */
  width: 498px;
}

#Home-service .rows {
  padding: 40px 0 0 0;
}
#Home-service .card {
  border: none;
}

#Home-service #card-1 {
  height: 651px;
  border-radius: 16px;
  background: #ebf4e6;
  overflow: hidden;
  width: 96%;
}

#Home-service #card-2 {
  height: 555px;
  border-radius: 16px;
  background: #fff2ef;
  overflow: hidden;
  width: 96%;
}

#Home-service #card-3 {
  height: 555px;
  border-radius: 16px;
  background: #ecf5ff;
  overflow: hidden;
  margin-top: 40px;
  width: 96%;
}

#Home-service #card-4 {
  height: 651px;
  border-radius: 16px;
  background: #eaeaea;
  overflow: hidden;
  position: relative;
  top: -8.4%;
  width: 96%;
}

#Home-service .card .card-body {
  padding: 50px 38px 0 38px;
}

#Home-service .card .card-title {
  color: var(--grey-3, #000);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#Home-service .card .card-text {
  width: 430px;
  color: var(--grey-3, #000);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

#Home-service .card .card-list {
  padding-top: 20px;
}

#Home-service .card .card-list div {
  display: flex;
  padding: 7px;
}

#Home-service .card .card-list p {
  color: var(--grey-3, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#Home-service #card-1 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: #2d7e00;
  margin-right: 10px;
}

#Home-service #card-2 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: #d24a26;
  margin-right: 10px;
}

#Home-service #card-3 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border-radius: 16px;
  border-radius: 200px;
  background: #1e7ce3;
  margin-right: 10px;
}

#Home-service #card-4 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: var(--grey-3, #000);
  margin-right: 10px;
}

#Home-service #card-1 .card-img img {
  animation: anim 8s linear infinite;
  width: 328px;
  height: auto;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-150deg);
  }
}

#Home-service #card-1 .card-img {
  position: relative;
  top: 12%;
  left: 45%;
  bottom: 0;
  right: 0;
}

#Home-service #card-2 .card-img img {
  animation: rotate 8s linear infinite;
  width: 210.53px;
  height: 210.53px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(29.834deg);
  }
}

#Home-service #card-2 .card-img {
  position: relative;
  top: 12%;
  left: 65%;
  bottom: 0;
  right: 0;
}

#Home-service #card-3 .card-img img {
  animation: spin 8s linear infinite;
  width: 182px;
  height: 226px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(8.834deg);
  }
}

#Home-service #card-3 .card-img {
  position: relative;
  top: -8%;
  left: 75%;
  bottom: 0;
  right: 0;
}

#Home-service #card-4 .card-img img {
  animation: run 8s linear infinite;
  width: 260px;
  height: 260px;
}

@keyframes run {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-8.834deg);
  }
}

#Home-service #card-4 .card-img {
  position: relative;
  top: 7%;
  left: 60%;
  bottom: 0;
  right: 0;
}

/* portfolio */
#portfolio {
  padding: 90px 120px;
  background: var(--white, #fff);

  justify-content: center;
  align-items: center;
  text-align: center;
}

#portfolio h6 {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #ffe8bb;
  background: #fff9ed;
}

#portfolio h2 {
  color: var(--blue, #0b3470);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 143.75% */
}

#portfolio .portfolio-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}

#portfolio .portfolio-list .tab {
  cursor: pointer;
  padding: 14px 32px;
  border-radius: 100px;
  border: none;
  color: var(--grey-3, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--yellow, #ddd);
}

#portfolio .portfolio-list .tab:hover {
  background: var(--yellow, #f1ab16);
}

#porfolio .panels {
  width: 100%;
}

#portfolio .panel .photo1 img {
  height: 285px;
  border-radius: 16px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

#portfolio .panel .photo2 img {
  width: 100%;
  object-fit: cover;
  height: 587px;
  border-radius: 16px;
}

#portfolio .panel .photo3 img {
  height: 285px;
  border-radius: 16px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.radio {
  display: none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
  display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
  background: #fffffff6;
  color: #000;
  border-top: 3px solid #000;
}

/* blog */
#blog {
  padding: 86px 120px 126px 119px;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
}

#blog h5 {
  color: var(--grey-3, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #ffe8bb;
  background: #fff9ed;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
}

#blog .blog-head {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

#blog .blog-head h4 {
  color: var(--blue, #0b3470);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 143.75% */
  width: 458px;
}

#blog .blog-list {
  display: flex;
  gap: 18px;
  padding: 20px 0;
}

#blog .blog-list a {
  text-decoration: none;
  color: var(--grey-1, #363c46);
  font-size: 13.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#join {
  padding: 80px 120px;
}

#join .join-content {
  justify-content: center;
  text-align: center;
  align-items: center;

  border-radius: 16px;
  background: #fffbf2;
  padding: 80px 60px;
}

#join .join-content h6 {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#join .join-content h2 {
  color: var(--blue, #0b3470);
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 142.857% */
  padding: 10px 0;
}

/* footer */
footer {
  padding: 40px 120px 20px 120px;
  justify-content: center;
  text-align: center;
}

footer .footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer .footer-links li {
  list-style: none;
  padding: 0 15px;
  margin-top: 14px;
}

footer .footer-links li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
}

footer .footer-icons {
  padding-bottom: 30px;
}

footer .footer-icons a {
  text-decoration: none;
  color: #0b3470;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  font-size: 22px;
  border-radius: 100%;
  margin: 0 10px;
  background: var(--grey-2, #f2f0f0);
}

footer .footer-links {
  padding: 10px 0;
}

footer hr {
  opacity: 0.1;
}

footer .copyright {
  padding-top: 20px;
}
footer .copyright p {
  color: var(--grey-1, #363c46);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ABOUT US PAGE */
#hero.about-page {
  padding: 100px 120px;
  background: #f1f7ff;
  height: 890px;
}

#hero.about-page h6 {
  color: var(--blue, #0b3470);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid #ffe3a8;
  background: #fff7e8;
}

#hero.about-page h3 {
  color: var(--grey-3, #000);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px; /* 139.286% */
}

#hero.about-page p {
  width: 804px;
  color: var(--grey-3, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

#hero.about-page .hero-banner .image {
  width: 100%;
  margin-top: -50px;
}

#hero.about-page .hero-banner .image img {
  border-radius: 16px;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  background-repeat: no-repeat;
}

#feat {
  background: var(--white, #fff);
  padding: 80px 120px;
}

#feat .feat-text {
  display: flex;
}

#feat .feat-text .feat1 {
  width: 33%;
  padding: 45px 70px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ddd;
  background: #f9f9f9;
  text-align: center;
}

#feat .feat-text .feat2 {
  width: 33%;
  padding: 45px 70px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ddd;
  background: #f9f9f9;
  text-align: center;
}

#feat .feat-text .feat3 {
  width: 33%;
  padding: 45px 75px;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  text-align: center;
}

#feat .feat-text .feat1 h2,
#feat .feat-text .feat2 h2,
#feat .feat-text .feat3 h2 {
  color: var(--blue, #0b3470);
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#feat .feat-text .feat1 p,
#feat .feat-text .feat2 p,
#feat .feat-text .feat3 p {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#feat hr {
  margin: 80px 0;
  opacity: 0.1;
}

#feat .feat-body h2 {
  width: 465px;
  color: var(--grey-3, #000);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px; /* 134.375% */
}

#feat .feat-body h6 {
  padding: 30px 0;
  color: var(--grey-3, #000);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 170% */
}

#feat .feat-body p {
  color: var(--grey-3, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

#mission {
  padding: 80px 120px;
}

#mission h5 {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

#mission h2 {
  color: var(--blue, #0b3470);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

#mission .mission-card {
  padding: 40px 0;
}

#mission .mission-card .card {
  padding: 48px 20px;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #f0e6e6;
  background: #f8f8f8;
  width: 97%;
}

#mission .mission-card .card .card-title {
  color: var(--grey-3, #000);
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#mission .mission-card .card .card-text {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

#mission .mission-card #row2 {
  padding-top: 40px;
}

#team {
  padding: 80px 120px;

  flex-shrink: 0;
  background: #fbfbfb;
}

#team h5 {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#team h2 {
  color: var(--blue, #0b3470);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 498px;
}

#team .team-profiles {
  padding-top: 40px;
}
#team .team-profiles #row2 {
  padding-top: 40px;
}

#team .team-profile .team-img {
  padding-bottom: 30px;
}

#team .team-profile .team-img img {
  width: 100%;
  height: 260px;
  border-radius: 8px;
  object-fit: cover;
}

#team .team-profile .team-name {
  color: var(--grey-3, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#team .team-profile .team-title {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#team .team-profile .team-socials {
  display: flex;
  gap: 10px;
}

#team .team-profile .team-socials i {
  width: 30px;
  height: 30px;
  color: #f1ab16;
  font-size: 22px;
}
