@import url("https://fonts.googleapis.com/css2?family=Krub:wght@200&family=Montserrat&family=Poppins:wght@900&family=Roboto+Mono&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Krub", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Ubuntu", sans-serif;
}

button.normal {
  display: inline-flex;
  padding: 16px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: var(--yellow, #f1ab16);
  color: var(--grey-3, #000);
  border-radius: 100px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

button.normal:hover {
  color: #fff;
  background-color: #0b3470;
}

button.black {
  display: inline-flex;
  padding: 16px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--grey-1, #363c46);
  background: var(--grey-3, #000);
  color: var(--white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

button.black:hover {
  color: #000;
  background: #f1ab16;
}

/* HOME PAGE */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 120px;
  background: #fff;
  border-bottom: 1px solid var(--grey-2, #f2f0f0);
  height: 80px;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header img {
  width: 174px;
  height: 31px;
  flex-shrink: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#navbar li {
  list-style: none;
  padding: 0 15px;
  margin-top: 14px;
}

#navbar li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #0b3470;
}

/* hero */
#hero {
  padding: 134px 120px;
  height: 988px;
  overflow: hidden;
  background: #fff9ec;
  flex-shrink: 0;
}

#hero .hero-text {
  width: 70%;
}

#hero .hero-text h3 {
  color: var(--grey-3, #000);
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#hero .hero-text p {
  color: var(--grey-3, #000);
  font-size: 18px;
  font-style: normal;
  padding: 15px 0;
  font-weight: 400;
  line-height: 34px; /* 188.889% */
}

#hero .hero-btn {
  display: flex;
  gap: 15px;
}

#hero .hero-btn .normal:hover {
  color: #fff;
  background-color: #0b3470;
}

#hero .hero-btn span {
  margin-left: 260px;
  margin-top: -55px;
}

#hero .hero-banner {
  display: flex;
  gap: 20px;
  padding: 80px 0;
}

#hero .hero-banner .img1 img {
  width: 100%;
  object-fit: cover;
  height: 461px;
  border-radius: 16px;
}

#hero .hero-banner .img2 img {
  width: 100%;
  object-fit: cover;
  height: 461px;
  border-radius: 16px;
}

/* clients */
#client {
  padding: 60px 120px;
  background: var(--white, #fff);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60vh;
}

#client h4 {
  color: var(--blue, #0b3470);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#client ul {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

#client ul li {
  padding: 0 40px;
}

#client .logo-1 {
  padding: 40px 0;
}

/* services */
#Home-service {
  background: #fafafa;
  padding: 60px 120px;
  height: 1627px;
}

#Home-service h5 {
  color: var(--grey-3, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #ffe8bb;
  background: #fff9ed;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
}

#Home-service .home-service-head {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

#Home-service .home-service-head h4 {
  color: var(--blue, #0b3470);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 143.75% */
  width: 498px;
}

#Home-service .home-service-head p {
  color: var(--grey-3, #000);
  width: 47%;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

#Home-service .rows {
  padding: 40px 0 0 0;
}
#Home-service .card {
  border: none;
}

#Home-service #card-1 {
  height: 651px;
  border-radius: 16px;
  background: #ebf4e6;
  overflow: hidden;
  width: 96%;
}

#Home-service #card-2 {
  height: 555px;
  border-radius: 16px;
  background: #fff2ef;
  overflow: hidden;
  width: 96%;
}

#Home-service #card-3 {
  height: 555px;
  border-radius: 16px;
  background: #ecf5ff;
  overflow: hidden;
  margin-top: 40px;
  width: 96%;
}

#Home-service #card-4 {
  height: 651px;
  border-radius: 16px;
  background: #eaeaea;
  overflow: hidden;
  position: relative;
  top: -8.4%;
  width: 96%;
}

#Home-service .card .card-body {
  padding: 50px 38px 0 38px;
}

#Home-service .card .card-title {
  color: var(--grey-3, #000);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#Home-service .card .card-text {
  width: 430px;
  color: var(--grey-3, #000);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

#Home-service .card .card-list {
  padding-top: 20px;
}

#Home-service .card .card-list div {
  display: flex;
  padding: 7px;
}

#Home-service .card .card-list p {
  color: var(--grey-3, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#Home-service #card-1 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: #2d7e00;
  margin-right: 10px;
}

#Home-service #card-2 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: #d24a26;
  margin-right: 10px;
}

#Home-service #card-3 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border-radius: 16px;
  border-radius: 200px;
  background: #1e7ce3;
  margin-right: 10px;
}

#Home-service #card-4 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: var(--grey-3, #000);
  margin-right: 10px;
}

#Home-service #card-1 .card-img img {
  animation: anim 8s linear infinite;
  width: 328px;
  height: auto;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-150deg);
  }
}

#Home-service #card-1 .card-img {
  position: relative;
  top: 12%;
  left: 45%;
  bottom: 0;
  right: 0;
}

#Home-service #card-2 .card-img img {
  animation: rotate 8s linear infinite;
  width: 210.53px;
  height: 210.53px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(29.834deg);
  }
}

#Home-service #card-2 .card-img {
  position: relative;
  top: 12%;
  left: 65%;
  bottom: 0;
  right: 0;
}

#Home-service #card-3 .card-img img {
  animation: spin 8s linear infinite;
  width: 182px;
  height: 226px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(8.834deg);
  }
}

#Home-service #card-3 .card-img {
  position: relative;
  top: -8%;
  left: 75%;
  bottom: 0;
  right: 0;
}

#Home-service #card-4 .card-img img {
  animation: run 8s linear infinite;
  width: 260px;
  height: 260px;
}

@keyframes run {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-8.834deg);
  }
}

#Home-service #card-4 .card-img {
  position: relative;
  top: 7%;
  left: 60%;
  bottom: 0;
  right: 0;
}

/* portfolio */
#portfolio {
  padding: 90px 120px;
  background: var(--white, #fff);

  justify-content: center;
  align-items: center;
  text-align: center;
}

#portfolio h6 {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #ffe8bb;
  background: #fff9ed;
}

#portfolio h2 {
  color: var(--blue, #0b3470);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 143.75% */
}

#portfolio .portfolio-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}

#portfolio .portfolio-list .tab {
  cursor: pointer;
  padding: 14px 32px;
  border-radius: 100px;
  border: none;
  color: var(--grey-3, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--yellow, #ddd);
}

#portfolio .portfolio-list .tab:hover {
  background: var(--yellow, #f1ab16);
}

#porfolio .panels {
  width: 100%;
}

#portfolio .panel .photo1 img {
  height: 285px;
  border-radius: 16px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

#portfolio .panel .photo2 img {
  width: 100%;
  object-fit: cover;
  height: 587px;
  border-radius: 16px;
}

#portfolio .panel .photo3 img {
  height: 285px;
  border-radius: 16px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
  display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
  background: #fffffff6;
  color: #000;
  border-top: 3px solid #000;
}

/* blog */
#blog {
  padding: 86px 120px 126px 119px;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  height: 1650px;
}

#blog h5 {
  color: var(--grey-3, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #ffe8bb;
  background: #fff9ed;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
}

#blog .blog-head {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

#blog .blog-head h4 {
  color: var(--blue, #0b3470);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 143.75% */
  width: 458px;
}

/* Style the tab */
#blog .tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 14px;
  margin-bottom: 50px;
  padding: 12px 0;
  transition: 0.3s;
  color: var(--grey-1, #363c46);
  font-size: 13.5px;
  font-style: normal;
  font-weight: 500;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom: 2px solid #f1ab16;
}

/* Create an active/current tablink class */
.tab button.active {
  color: var(--blue, #0b3470);
  border-bottom: 2px solid #f1ab16;
}

/* Style the tab content */
.tabcontent {
  border-top: none;
  width: 100%;
}

#blog .tabcontent a {
  text-decoration: none;
}

#blog .tabcontent .blog-contents {
  width: 100%;
}

#blog .blog-contents .blog-img img {
  width: 100%;
  height: 303px;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 30px;
}

#blog .tabcontent .blog-contents .blog-title {
  display: flex;
}

#blog .tabcontent .blog-contents .blog-text {
  padding-top: 15px;
  background: #fff;
}

#blog .tabcontent .blog-contents span {
  color: var(--blue, #0b3470);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#blog .tabcontent .blog-contents small {
  color: var(--grey-1, #363c46);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#blog .tabcontent .blog-contents i {
  font-size: 5px;
  color: #dcdcdc;
  padding: 6px 8px;
}

#blog .tabcontent .blog-contents h2 {
  width: 364px;
  color: var(--grey-1, #363c46);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

#blog .tabcontent .blog-contents p {
  color: var(--grey-1, #363c46);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

#blog .tabcontent .blog-contents p span {
  color: var(--blue, #0b3470);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration-line: underline;
}
#blog .tabcontent .blog-footer {
  display: flex;
  padding: 20px 0;
  background: #fafafa;
}

#blog .tabcontent .blog-footer img {
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

#blog .tabcontent .blog-contents .blog-footer p {
  color: var(--grey-1, #363c46);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 8px 10px;
}

#join {
  padding: 80px 120px;
}

#join .join-content {
  justify-content: center;
  text-align: center;
  align-items: center;

  border-radius: 16px;
  background: #fffbf2;
  padding: 80px 60px;
}

#join .join-content h6 {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#join .join-content h2 {
  color: var(--blue, #0b3470);
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 142.857% */
  padding: 10px 0;
}

/* footer */
footer {
  padding: 40px 120px 20px 120px;
  justify-content: center;
  text-align: center;
}

footer .footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer .footer-links li {
  list-style: none;
  padding: 0 15px;
  margin-top: 14px;
}

footer .footer-links li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
}

footer .footer-icons {
  padding-bottom: 30px;
}

footer .footer-icons a {
  text-decoration: none;
  color: #0b3470;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  font-size: 22px;
  border-radius: 100%;
  margin: 0 10px;
  background: var(--grey-2, #f2f0f0);
}

footer .footer-links {
  padding: 10px 0;
}

footer hr {
  opacity: 0.1;
}

footer .copyright {
  padding-top: 20px;
}
footer .copyright p {
  color: var(--grey-1, #363c46);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ABOUT US PAGE */
#hero.about-page {
  padding: 100px 120px;
  background: #f1f7ff;
  height: 890px;
}

#hero.about-page h6 {
  color: var(--blue, #0b3470);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid #ffe3a8;
  background: #fff7e8;
}

#hero.about-page h3 {
  color: var(--grey-3, #000);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px; /* 139.286% */
}

#hero.about-page p {
  width: 804px;
  color: var(--grey-3, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

#hero.about-page .hero-banner .image {
  width: 100%;
  margin-top: -50px;
}

#hero.about-page .hero-banner .image img {
  border-radius: 16px;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  background-repeat: no-repeat;
}

#feat {
  background: var(--white, #fff);
  padding: 80px 120px;
}

#feat .feat-text {
  display: flex;
}

#feat .feat-text .feat1 {
  width: 33%;
  padding: 45px 70px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ddd;
  background: #f9f9f9;
  text-align: center;
}

#feat .feat-text .feat2 {
  width: 33%;
  padding: 45px 70px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ddd;
  background: #f9f9f9;
  text-align: center;
}

#feat .feat-text .feat3 {
  width: 33%;
  padding: 45px 75px;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  text-align: center;
}

#feat .feat-text .feat1 h2,
#feat .feat-text .feat2 h2,
#feat .feat-text .feat3 h2 {
  color: var(--blue, #0b3470);
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#feat .feat-text .feat1 p,
#feat .feat-text .feat2 p,
#feat .feat-text .feat3 p {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#feat hr {
  margin: 80px 0;
  opacity: 0.1;
}

#feat .feat-body h2 {
  width: 465px;
  color: var(--grey-3, #000);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px; /* 134.375% */
}

#feat .feat-body h6 {
  padding: 30px 0;
  color: var(--grey-3, #000);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 170% */
}

#feat .feat-body p {
  color: var(--grey-3, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

#mission {
  padding: 80px 120px;
}

#mission .mission-text {
  background: #fffbf2;
  text-align: center;
  padding: 30px 60px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

#mission .mission-text p {
  color: var(--grey-1, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 185.714% */
  width: 80%;
}

#mission h5 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

#mission h2 {
  color: var(--blue, #0b3470);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

#mission .mission-card {
  padding: 40px 0;
}

#mission .mission-card .card {
  padding: 48px 20px;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #f0e6e6;
  background: #f8f8f8;
  width: 97%;
  height: 550px;
}

#mission .mission-card .card .card-title {
  color: var(--grey-3, #000);
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#mission .mission-card .card .card-text {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

#mission .mission-footer {
  padding: 48px 35px;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #f0e6e6;
  background: #f8f8f8;
  width: 98.5%;
}

#mission .mission-footer p {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

#mission .mission-card #row2 {
  padding-top: 40px;
}

#team {
  padding: 80px 120px;

  flex-shrink: 0;
  background: #fbfbfb;
}

#team h5 {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#team h2 {
  color: var(--blue, #0b3470);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 498px;
}

#team .team-profiles {
  padding-top: 40px;
}
#team .team-profiles #row2 {
  padding-top: 40px;
}

#team .team-profile .team-img {
  padding-bottom: 30px;
}

#team .team-profile .team-img img {
  width: 100%;
  height: 260px;
  border-radius: 8px;
  object-fit: cover;
}

#team .team-profile .team-name {
  color: var(--grey-3, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#team .team-profile .team-title {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#team .team-profile .team-socials {
  display: flex;
  gap: 10px;
}

#team .team-profile .team-socials i {
  width: 30px;
  height: 30px;
  color: #f1ab16;
  font-size: 22px;
}

/* SERVICE PAGE */
#hero.service-page {
  padding: 100px 120px;
  background: #fff2ef;
  height: 850px;
}

#hero.service-page .hero-text {
  width: 100%;
}

#hero.service-page .hero-banner {
  padding-top: 30px;
}
#hero.service-page h6 {
  color: var(--grey-3, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid var(--grey-3, #000);
  background: #fff;
}

#hero.service-page h3 {
  color: var(--grey-3, #000);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px; /* 139.286% */
}

#hero.service-page p {
  width: 700px;
  color: var(--grey-3, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 188.889% */
}

#hero.service-page .hero-banner .row {
  width: 100%;
}

#hero.service-page .hero-banner img {
  width: 100%;
  height: 400px;
  border-radius: 16px;
  object-fit: cover;
}

#service {
  background: #fafafa;
  padding: 60px 120px;
}

#service h5 {
  color: var(--grey-3, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #ffe8bb;
  background: #fff9ed;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
}

#service .service-head {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

#service .service-head h4 {
  color: var(--blue, #0b3470);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 143.75% */
  width: 498px;
}

#service .service-head p {
  color: var(--grey-3, #000);
  width: 47%;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

#service .rows {
  padding: 40px 0 0 0;
}

#service .card {
  border: none;
}

#service #card-1 {
  height: 651px;
  border-radius: 16px;
  background: #ebf4e6;
  overflow: hidden;
  width: 96%;
}

#service #card-2 {
  height: 555px;
  border-radius: 16px;
  background: #ecf5ff;
  overflow: hidden;
  width: 96%;
}

#service #card-3 {
  height: 555px;
  border-radius: 16px;
  background: #ffe9f9;
  overflow: hidden;
  margin-top: 40px;
  width: 96%;
}

#service #card-4 {
  height: 580px;
  border-radius: 16px;
  background: #fff2ef;
  overflow: hidden;
  position: relative;
  top: -8.4%;
  width: 96%;
}

#service #card-5 {
  height: 680px;
  border-radius: 16px;
  background: #f4e9ff;
  overflow: hidden;
  margin-top: 40px;
  width: 96%;
}

#service #card-6 {
  height: 743px;
  border-radius: 16px;
  background: #eaeaea;
  overflow: hidden;
  position: relative;
  top: -3%;
  width: 96%;
}

#service .card .card-body {
  padding: 50px 38px 0 38px;
}

#service .card .card-title {
  color: var(--grey-3, #000);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#service .card .card-text {
  width: 430px;
  color: var(--grey-3, #000);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

#service .card .card-list {
  padding-top: 20px;
}

#service .card .card-list div {
  display: flex;
  padding: 7px;
}

#service .card .card-list p {
  color: var(--grey-3, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#service #card-1 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: #2d7e00;
  margin-right: 10px;
}

#service #card-2 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border-radius: 16px;
  background: #1e7ce3;
  margin-right: 10px;
}

#service #card-3 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border-radius: 16px;
  border-radius: 200px;
  background: #c271ad;
  margin-right: 10px;
}

#service #card-4 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: #d24a26;
  margin-right: 10px;
}

#service #card-5 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: #7f2ccb;
  margin-right: 10px;
}

#service #card-6 .card-list img {
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: var(--grey-3, #000);
  margin-right: 10px;
}

#service #card-1 .card-img img {
  animation: anim 8s linear infinite;
  width: 328px;
  height: auto;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-150deg);
  }
}

#service #card-1 .card-img {
  position: relative;
  top: 18%;
  left: 45%;
  bottom: 0;
  right: 0;
}

#service #card-2 .card-img img {
  animation: run 8s linear infinite;
  width: 182px;
  height: 226px;
}

@keyframes run {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-8.834deg);
  }
}

#service #card-2 .card-img {
  position: relative;
  top: -7%;
  left: 73%;
  bottom: 0;
  right: 0;
}

#service #card-3 .card-img img {
  animation: spin 4s linear infinite;
  width: 173.969px;
  height: 173.969px;
  /* transform: rotate(6.869deg); */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-8.834deg);
  }
}

#service #card-3 .card-img {
  position: relative;
  top: 10%;
  left: 75%;
  bottom: 0;
  right: 0;
}

#service #card-4 .card-img img {
  animation: run 4s linear infinite;
  width: 210.53px;
  height: 210.53px;
}

@keyframes run {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(23.834deg);
  }
}

#service #card-4 .card-img {
  position: relative;
  top: 16%;
  left: 63%;
  bottom: 0;
  right: 0;
}

#service #card-5 .card-img img {
  animation: push 8s linear infinite;
  width: 260px;
  height: 260px;
}

@keyframes push {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20.834deg);
  }
}

#service #card-5 .card-img {
  position: relative;
  top: -4%;
  left: 57%;
  bottom: 0;
  right: 0;
}

#service #card-6 .card-img img {
  animation: lean 8s linear infinite;
  width: 260px;
  height: 260px;
}

@keyframes lean {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20.834deg);
  }
}

#service #card-6 .card-img {
  position: relative;
  top: 8%;
  left: 60%;
  bottom: 0;
  right: 0;
}

#testimonial {
  padding: 10px 0;
}

#testimonial .row {
  width: 100%;
}

#testimonial .testi-img img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

#testimonial .testi-content {
  width: 100%;
  height: 480px;
  background: var(--black-000000, #000);
  color: #fff;
}

#testimonial .test-slides {
  padding: 40px 80px;
}

#testimonial .test-slides h1 {
  color: var(--grey-646464, #646464);
  font-family: Lexend;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
}
#testimonial .test-slides p {
  color: var(--white, #fff);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 172.727% */
  width: 575px;
}
#testimonial .test-slides h2 {
  color: var(--grey-646464, #646464);
  font-family: Lexend;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  text-align: end;
}

#testimonial .test-footer {
  margin-top: -50px;
  padding-bottom: 30px;
}

#testimonial .test-footer h4 {
  color: #d3d3d3;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#testimonial .test-footer p {
  color: #d3d3d3;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#testimonial button {
  position: relative;
  top: 180%;
  left: -40%;
  width: 50px;
}

#testimonial span {
  display: none;
}

/* BLOG PAGE */
#hero.blog-page {
  padding: 100px 120px;
  background: var(--white, #fff);
  height: 508px;
}

#hero.blog-page .hero-text {
  width: 100%;
}

#hero.blog-page h6 {
  color: var(--grey-3, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #ffe3a8;
  background: #fff7e8;
}

#hero.blog-page h3 {
  color: var(--blue, #0b3470);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#hero.blog-page p {
  width: 741px;
  color: var(--grey-3, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

#hero.blog-page .hero-banner {
  display: flex;
  justify-content: space-between;
  width: 810px;
  margin-top: 0;
  padding-top: 0;
}

#hero.blog-page .hero-banner span {
  margin-top: -100px;
}

#hero.blog-page .hero-banner .form {
  display: flex;
  gap: 200px;
  padding: 0 10px;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid var(--grey-5, #dce4e0);
  background: var(--white, #fff);
}

#hero.blog-page .hero-banner .form input {
  font-weight: 400;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

#hero.blog-page .hero-banner .form input::placeholder {
  color: var(--grey-4, #a9a9a9);
  font-size: 16px;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter {
  padding: 30px 0;
  display: flex;
  margin: 40px 100px;
  justify-content: space-around;

  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #ffecc6;
  background: #fffaef;
}

#newsletter .newstext {
  border-left: 5px solid #f1ab16;
  padding-left: 20px;
  padding-top: 0;
  width: 20%;
}

#newsletter .form {
  width: 60%;
}

#newsletter h4 {
  color: var(--grey-1, #363c46);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-top: 15px;
}

#newsletter p {
  color: var(--grey-3, #000);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 50%;
  border: 1px solid var(--grey-4, #dcdcdc);
  background: var(--white, #fff);
  border-radius: 10px;
  outline: none;
  margin-right: 15px;
}

#newsletter input::placeholder {
  color: var(--grey-4, #a9a9a9);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#blog-2 {
  padding: 20px 120px 126px 119px;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

#blog-2 a {
  text-decoration: none;
}

#blog-2 .blog-contents {
  width: 100%;
}

#blog-2 .blog-contents .blog-img img {
  width: 100%;
  height: 303px;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 30px;
}

#blog-2 .blog-contents .blog-title {
  display: flex;
}

#blog-2 .blog-contents .blog-text {
  padding-top: 15px;
  background: #fff;
}

#blog-2 .blog-contents span {
  color: var(--blue, #0b3470);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#blog-2 .blog-contents small {
  color: var(--grey-1, #363c46);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#blog-2 .blog-contents i {
  font-size: 5px;
  color: #dcdcdc;
  padding: 6px 8px;
}

#blog-2 .blog-contents h2 {
  width: 364px;
  color: var(--grey-1, #363c46);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

#blog-2 .blog-contents p {
  color: var(--grey-1, #363c46);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

#blog-2 .blog-contents p span {
  color: var(--blue, #0b3470);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration-line: underline;
}

#blog-2 .blog-footer {
  display: flex;
  padding: 20px 0;
  background: #fff;
}

#blog-2 .blog-footer img {
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

#blog-2 .blog-contents .blog-footer p {
  color: var(--grey-1, #363c46);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 8px 10px;
}

#pagination {
  margin: 40px 120px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--grey-6, #eff6f2);
  background: var(--white, #fff);
  padding: 5px 32px;
  align-items: center;
}

#pagination .page h1 {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

#pagination .pagination {
  display: flex;
  align-items: center;
  color: #383838;
  padding: 21px 20px;
  border-radius: 16px;
}

#pagination .pagination ul {
  margin: 0;
  padding: 0 15px;
}

#pagination .pagination ul li {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
  background-position: 0 -45px;
  transition: background-position 0.5s;
}

#pagination .pagination ul li.active {
  background: var(--blue, #0b3470);
  color: #fff;
  background-position: 0 0;
}

#pagination .pagination .btn1,
#pagination .pagination .btn2 {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  outline: none;
  border: none;
}

/* BLOG-2 PAGE */
#hero.blog2-page {
  padding: 100px 120px;
  background: var(--white, #fff);
  text-align: center;
}

#hero.blog2-page .hero-text {
  width: 100%;
}

#hero.blog2-page .hero-text button {
  padding: 12px 32px;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--yellow, #f1ab16);
  background: var(--white, #fff);
}

#hero.blog2-page .hero-text i {
  margin-right: 10px;
  color: var(--grey-1, #363c46);
}

#hero.blog2-page .hero-text h3 {
  color: var(--blue, #0b3470);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  padding: 10px 0;
}

#hero.blog2-page .hero-text .hero-subtitle span {
  color: var(--blue, #0b3470);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

#hero.blog2-page .hero-text .hero-subtitle i {
  color: var(--yellow, #f1ab16);
  font-size: 5px;
  padding: 5px;
}

#hero.blog2-page .hero-text .hero-subtitle small {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#hero.blog2-page .hero-banner {
  position: relative;
}

#hero.blog2-page .hero-banner img {
  width: 100%;
  height: 545px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

#hero.blog2-page .hero-footer {
  position: absolute;
  top: 75%;
  left: 40%;
  right: 40%;
}

#hero.blog2-page .hero-footer h5 {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#hero.blog2-page .hero-banner .hero-footer img {
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

#hero.blog2-page .hero-footer .hero-subfooter {
  display: flex;
  gap: 20px;
}

#hero.blog2-page .hero-footer .hero-subfooter p {
  color: var(--white, #fff);
  padding: 5px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#share {
  padding: 80px 120px;
}

#share h4 {
  color: var(--blue, #0b3470);

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#share .share-icons {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

#share .share-content {
  width: 85%;
}

#share .share-icons a {
  text-decoration: none;
  background: var(--grey-2, #f2f0f0);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #000;
  padding: 10px;
  text-align: center;
  margin: 5px 0;
}

#share .share-content h3 {
  color: var(--grey-3, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#share .share-content p {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */

  padding-top: 10px;
}

#share .share-content img {
  width: 100%;
  height: 400px;
  border-radius: 16px;
  object-fit: cover;
  margin: 30px 0;
}

#share .newsletter {
  padding: 10px 0;
  display: flex;
  margin: 40px 0;
  justify-content: space-around;

  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #ffecc6;
  background: #fffaef;
}

#share .newsletter .form {
  display: flex;
  width: 40%;
}

#share .newsletter .newstext {
  border-left: 5px solid #f1ab16;
  padding-left: 20px;
  padding-top: 0;
  width: 20%;
}

#share .newsletter .form {
  width: 60%;
}
#share .newsletter .form button {
  font-size: 14px;
}

#share .newsletter h4 {
  color: var(--grey-1, #363c46);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-top: 15px;
}

#share .newsletter p {
  color: var(--grey-3, #000);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#share .newsletter p span {
  color: #ffbd27;
}

#share .newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 50%;
  border: 1px solid var(--grey-4, #dcdcdc);
  background: var(--white, #fff);
  border-radius: 10px;
  outline: none;
  margin-right: 15px;
}

#share .newsletter input::placeholder {
  color: var(--grey-4, #a9a9a9);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
